.ipynb_checkpoints/uninformed-checkpoint.ipynb
.ipynb_checkpoints/informed-checkpoint.ipynb
.ipynb_checkpoints/LocalSearch-checkpoint.ipynb
map-sample-code.ipynb
.ipynb_checkpoints/minimax-search-checkpoint.ipynb
.ipynb_checkpoints/minimax-search-checkpoint.ipynb
